#root{
    margin: 20px;
    text-align: center;
}

.main-container{
    margin: 20px;
    text-align: center;
}

.list-group-custom{
    list-style-type: none;
    margin-top: 30vh;
}

.list-item-custom{
    padding: 10px;
}

.custom-home-btn{
    width: 200px;
}

.custom-label-dir{
    display: flex;
}